<div class="cmp-rating">
    <div class="cmp-rating__title-container">
        <span class="cmp-rating__title">${properties.experienceText}</span>
    </div>
    <div class="cmp-rating__emoji-container list">
            <img class="cmp-rating__star" src="/content/dam/HDFC_BL_Forms/ratings/star.svg" dataVal = "Unsatisfactory"  >
            <img class="cmp-rating__star" src="/content/dam/HDFC_BL_Forms/ratings/star.svg" dataVal = "Need to improve">
            <img class="cmp-rating__star" src="/content/dam/HDFC_BL_Forms/ratings/star.svg" dataVal = "It’s alright">
            <img class="cmp-rating__star" src="/content/dam/HDFC_BL_Forms/ratings/star.svg" dataVal = "Wow!">
            <img class="cmp-rating__star" src="/content/dam/HDFC_BL_Forms/ratings/star.svg" dataVal = "Lovely!!!">
    </div>
    <p class= "cmp-rating__star-value">
    </p>
    <div class="cmp-rating__btn-container">
        <button class="cmp-rating__submit-btn" onclick="showOffers()" type="button" disabled>Submit >></button>
    </div>
</div>
